body{
    padding-top:60px;
    color:white;
    font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
  }
  .con{
    padding:5%;
  }
  .pic{
    padding:10%;
  }
  .text{
    font-size:2rem;
  }
  .contact{
    padding-bottom: 50px;
  }
  .co{
      padding-bottom: 50px;
      font-family: monospace;
      font-size: 5em; ;
  }
  .porto{
    font-family: monospace;
    font-size: 15rem; ;
}